http_interactions:
- request:
    method: get
    uri: https://ws.pangaea.de/oai/provider?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai%3Apangaea.de%3Adoi%3A10.1594%2FPANGAEA.788382
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><responseDate>2019-08-13T22:55:35Z</responseDate><request
        identifier="oai:pangaea.de:doi:10.1594/PANGAEA.788382" metadataPrefix="oai_dc"
        verb="GetRecord">https://ws.pangaea.de/oai/provider</request><GetRecord><record><header><identifier>oai:pangaea.de:doi:10.1594/PANGAEA.788382</identifier><datestamp>2019-02-13T10:51:02Z</datestamp><setSpec>citable</setSpec><setSpec>supplement</setSpec><setSpec>topicChemistry</setSpec><setSpec>topicLithosphere</setSpec></header><metadata><oai_dc:dc
        xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd"><dc:title>Trace metals in
        shells of mussels and clams from deep-sea hydrothermal vent fields of the
        Mid-Atlantic Ridge and East Pacific Rise</dc:title><dc:creator>Demina, Lyudmila
        L</dc:creator><dc:creator>Galkin, Sergey V</dc:creator><dc:creator>Dara, O
        M</dc:creator><dc:source>P.P. Shirshov Institute of Oceanology, Russian Academy
        of Sciences, Moscow</dc:source><dc:source>Supplement to: Demina, Lyudmila
        L; Galkin, Sergey V; Dara, O M (2012): Trace metal bioaccumulation in the
        shells of mussels and clams at deep-sea hydrothermal vent fields. Translated
        from Geokhimiya, 2012, 50(2), 147-163, Geochemistry International, 50(2),
        133-147, https://doi.org/10.1134/S0016702911120056</dc:source><dc:publisher>PANGAEA</dc:publisher><dc:date>2012-09-07</dc:date><dc:type>Dataset</dc:type><dc:format>application/zip,
        5 datasets</dc:format><dc:identifier>https://doi.pangaea.de/10.1594/PANGAEA.788382</dc:identifier><dc:identifier>https://doi.org/10.1594/PANGAEA.788382</dc:identifier><dc:description>Bioaccumulation
        of trace metals in carbonate shells of mussels and clams was investigated
        at seven hydrothermal vent fields of the Mid-Atlantic Ridge (Menez Gwen, Snake
        Pit, Rainbow, and Broken Spur) and the Eastern Pacific (9°N and 21°N at the
        East Pacific Rise and the southern trough of Guaymas Basin, Gulf of California).
        Mineralogical analysis showed that carbonate skeletons of mytilid mussel Bathymodiolus
        sp. and vesicomyid clam Calyptogena m. [...]
