http_interactions:
- request:
    method: get
    uri: https://ws.pangaea.de/oai/provider?verb=ListMetadataFormats
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl" href="oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><responseDate>2020-01-22T17:17:26Z</responseDate><request verb="ListMetadataFormats">https://ws.pangaea.de/oai/provider</request><ListMetadataFormats xmlns="http://www.openarchives.org/OAI/2.0/">
            <metadataFormat>
                <metadataPrefix>oai_dc</metadataPrefix>
                <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
                <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>
            </metadataFormat>
            <metadataFormat>
                <metadataPrefix>pan_md</metadataPrefix>
                <schema>http://ws.pangaea.de/schemas/pangaea/MetaData.xsd</schema>
                <metadataNamespace>http://www.pangaea.de/MetaData</metadataNamespace>
            </metadataFormat>
            <metadataFormat>
                <metadataPrefix>dif</metadataPrefix>
                <schema>http://gcmd.gsfc[...]
