http_interactions:
- request:
    method: get
    uri: https://ws.pangaea.de/oai/provider?verb=ListSets
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl" href="oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><responseDate>2020-01-22T17:17:25Z</responseDate><request verb="ListSets">https://ws.pangaea.de/oai/provider</request><ListSets><set><setSpec>ACD</setSpec><setName>PANGAEA set / keyword 'ACD' (2 data sets)</setName></set><set><setSpec>ASPS</setSpec><setName>PANGAEA set / keyword 'ASPS' (59 data sets)</setName></set><set><setSpec>AWIXRFraw</setSpec><setName>PANGAEA set / keyword 'AWIXRFraw' (1 data sets)</setName></set><set><setSpec>BAH1960</setSpec><setName>PANGAEA set / keyword 'BAH1960' (2 data sets)</setName></set><set><setSpec>BAH1961</setSpec><setName>PANGAEA set / keyword 'BAH1961' (2 data sets)</setName></set><set><setSpec>BAH1962</setSpec><setName>[...]
