http_interactions:
- request:
    method: get
    uri: https://www.pangaea.de/advanced/search.php?count=10&offset=0&q=water
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      last-modified: Fri, 15 Apr 2016 11:55:50 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      string: '{"results":[{"URI":"doi:10.1594\/PANGAEA.892812","score":21.095936,"html":"<li><div
        class=\"citation\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.892812\"
        target=\"_self\" class=\"dataset-link\"><strong>Quade, M; Brüggemann, N; Graf,
        A et al. (2018):<\/strong> Data for kinetic isotopic fractionation of water
        during bare soil evaporation<\/a><\/div><table class=\"result\" summary=\"Dataset
        reference and size\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"title\">Supplement
        to:<\/td><td class=\"content\"><strong>Quade, M; Brüggemann, N; Graf, A et
        al. (2018):<\/strong> Investigation of Kinetic Isotopic Fractionation of Water
        during Bare Soil Evaporation. <em>Water Resources Research<\/em><\/td><\/tr><tr><td
        class=\"title\">Size:<\/td><td class=\"content\">5 datasets<\/td><\/tr><\/table><div
        class=\"datasetid\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.892812\"
        target=\"_self\" class=\"dataset-link doi-link\">https:\/\/doi.org\/10.1594\/PANGAEA.892812<\/a>
        - <span title=\"The score is a measurement of relevancy (see TF-IDF algorithm).
        The value is not absolute and only suitable to compare hits from the same
        result set.\">Score: 21.1<\/span><\/div><\/li>"},{"URI":"doi:10.1594\/PANGAEA.895383","score":19.425049,"html":"<li><div
        class=\"citation\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.895383\"
        target=\"_self\" class=\"dataset-link\"><strong>Korman, B (2018):<\/strong>
        Lake water analysis from the Rappbod[...]
[...]
- request:
    method: get
    uri: https://www.pangaea.de/advanced/search.php?t=Oceans&count=10&offset=0&q=water
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      last-modified: Fri, 15 Apr 2016 11:55:50 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      string: '{"results":[{"[...]
- request:
    method: get
    uri: https://www.pangaea.de/advanced/search.php?count=10&offset=0&q=water&mindate=2013-06-01&maxdate=2013-07-01
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      last-modified: Fri, 15 Apr 2016 11:55:50 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      string: '{"results":[{"URI":"doi:10.1594\/PANGAEA.862525","score":18.622866,"html":"<li><div
        class=\"citation\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.862525\"
        target=\"_self\" class=\"dataset-link\"><strong>Wang, X; Zhang, K; Wu, S et
        al. (2016):<\/strong> Long-term global GPS-derived precipitable water vapor
        data set<\/a><\/div><table class=\"result\" summary=\"Dataset reference and
        size\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"title\">Supplement
        to:<\/td><td class=\"content\"><strong>Wang, X; Zhang, K; Wu, S et al. (2016):<\/strong>
        Water vapor-weighted mean temperature and its impact on the determination
        of precipitable water vapor and its linear trend. <em>Journal of Geophysical
        Research-Atmospheres<\/em><\/td><\/tr><tr><td class=\"title\">Size:<\/td><td
        class=\"content\">372 datasets<\/td><\/tr><\/table><div class=\"datasetid\"><a
        href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.862525\" target=\"_self\"
        class=\"dataset-link doi-link\">https:\/\/doi.org\/10.1594\/PANGAEA.862525<\/a>
        - <span title=\"The score is a measurement of relevancy (see TF-IDF algorithm).
        The value is not absolute and only suitable to compare hits from the same
        result set.\">Score: 18.62<\/span><\/div><\/li>"},{"URI":"doi:10.1594\/PANGAEA.882613","score":17.035387,"html":"<li><div
     [...]
- request:
    method: get
    uri: https://www.pangaea.de/advanced/search.php?count=10&offset=0&q=water&minlon=-124.2&minlat=41.8&maxlon=-116.8&maxlat=46.1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      last-modified: Fri, 15 Apr 2016 11:55:50 GMT
      status: 'HTTP/2 200 '
    body:
      en[...]
- request:
    method: get
    uri: https://www.pangaea.de/advanced/search.php?count=10&offset=0&q=citation%3AArcher
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      last-modified: Fri, 15 Apr 2016 11:55:50 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      string: '{"results":[...]
