http_interactions:
- request:
    method: get
    uri: https://ws.pangaea.de/es/pangaea/panmd/_search?size=3&version=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"took":3,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":386066,"max_score":1.0,"hits":[{"_index":"pangaea_v2","_type":"panmd","_id":"838718","_score":1.0,"_source":{"internal-datestamp":"2018-09-27T17:18:23.000Z","minElevation":0.35,"sf-authortitle":"Volkova
        V S$Lithology of sediment core NIZVAR, Russia","meanPosition":{"lat":61.25,"lon":77.0},"techKeyword":["citable","author11008","author24053","author34028","author34201","author46439","author53076","author53117","author53132","author53153","author53171","event2752252","geocode1","geocode1600","geocode1601","geocode8128","license101","param2834","param3","param4","pi34201","ref65801","ref65833","ref65853","ref65865","term23889","topotype3"],"geocodes":["geocode1","geocode1600","geocode1601","geocode8128","event"],"sp-loginOption":1,"agg-author":"Volkova,
        V S","eastBoundLongitude":77.0,"URI":"https://doi.org/10.1594/PANGAEA.838718","agg-pubYear":2014,"agg-geometry":"point","xml-thumb":"<md:SearchResult
        xmlns:md=\"http://www.pangaea.de/MetaData\" version=\"2018-09-26\"><md:citation
        id=\"dataset838718\"><md:author>Volkova, VS</md:author><md:year>2014</md:year><md:title>Lithology
        of sediment core NIZVAR, Russia</md:title><md:URI>https://doi.org/10.1594/PANGAEA.838718</md:URI><md:dateTime>2014-11-12T09:22:07</md:dateTime></md:citation><md:reference
        id=\"ref65833\" relationType=\"Related to\" relationTypeId=\"12\"><md:author>Anderson,
        PM; Lozhkin, AV</md:author><md:year>2002</md:year><md:title>Late Quaternary
        vegetation and climate of Siberia and the Russian far east (Palynological
        and Radiocarbon Database)</md:title><md:source>North East Science Center,
        Far East Branch, Russian Academy of Sciences, Magadan, Russia</md:source></md:reference><md:reference
        id=\"ref65853\" relationType=\"Related to\" relationTypeId=\"12\"><md:author>Firsov,
        FV; Panychev, VA; Orlova, LA</md:author><md:year>1985</md:year><md:title>Catalog
        of radiocarbon dates [in Russian]</md:title><md:source>Novosibirsk Geological
        Institute, Siberian Branch, USSR Academy of Sciences, Novosibirsk</md:source></md:reference><md:reference
        id=\"ref65865\" relationType=\"Related to\" relationTypeId=\"12\"><md:author>Il''ina,
        NS; Lapshina, EI; Lavrenko, NI</md:author><md:year>1985</md:year><md:title>The
        vegetation cover of the western Siberia continental plateau [in Russian]</md:title><md:source>Nauka,
        Novosibirsk</md:source></md:reference><md:reference id=\"ref65801\" relationType=\"Related
        to\" relationTypeId=\"12\"><md:author>Neishtadt, MI</md:author><md:year>1976</md:year><md:title>Holocene
        processes in western Siberia and associated problems [in Russian]</md:title><md:source>In:
        M.I. Neishtadt (ed.) Studying and mastering the environment. USSR Academy
        of Sciences, Institute of Geography, Moscow</md:source><md:pages>90-99</md:pages></md:reference><md:extent><md:geographic>\n<md:westBoundLongitude>77.0</md:westBoundLongitude>\n<md:eastBoundLongitude>77.0</md:eastBoundLongitude>\n<md:southBoundLatitude>61.25</md:southBoundLatitude>\n<md:northBoundLatitude>61.25</md:northBoundLatitude>\n<md:meanLongitude>77.0</md:meanLongitude>\n<md:meanLatitude>61.25</md:meanLatitude>\n</md:geographic></md:extent><md:size
        unit=\"data points\">18</md:size><md:technicalInfo>\n<md:entry key=\"xmlLastModified\"
        value=\"2018-09-27T17:18:23Z\"/>\n<md:entry key=\"filename\" value=\"NIZVAR_lithology\"/>\n<md:entry
        key=\"mimeType\" value=\"text/tab-separated-values\"/>\n<md:entry key=\"status\"
        value=\"published\"/>\n<md:entry key=\"status_num\" value=\"4\"/>\n<md:entry
        key=\"DOIRegistryStatus\" value=\"registered\"/>\n<md:entry key=\"DOIRegistryStatus_num\"
        value=\"4\"/>\n<md:entry key=\"loginOption\" value=\"unrestricted\"/>\n<md:entry
        key=\"loginOption_num\" value=\"1\"/>\n</md:technicalInfo></md:SearchResult>","xml":"<md:MetaData
        xmlns:md=\"http://www.pangaea.de/MetaData\" version=\"2018-09-26\">\n<md:citation
        id=\"dataset838718\">\n<md:author id=\"dataset.author34201\">\n<md:lastName>Volkova</md:lastName>\n<md:firstName>V
        S</md:firstName>\n</md:author>\n<md:year>2014</md:year>\n<md:title>Lithology
        of sediment core NIZVAR, Russia</md:title>\n<md:URI>https://doi.org/10.1594/PANGAEA.838718</md:URI>\n<md:dateTime>2014-11-12T09:22:07</md:dateTime>\n</md:citation>\n<md:reference
        id=\"ref65833\" relationType=\"Related to\" relationTypeId=\"12\">\n<md:author
        id=\"ref65833.author11008\">\n<md:lastName>Anderson</md:lastName>\n<md:firstName>Patricia
        M</md:firstName>\n<md:eMail>pata@uw.edu</md:eMail>\n<md:URI>https://www.ess.washington.edu/people/profile.php?pid=anderson--patricia</md:URI>\n</md:author>\n<md:author
        id=\"ref65833.author24053\">\n<md:lastName>Lozhkin</md:lastName>\n<md:firstName>Anatoly
        V</md:firstName>\n</md:author>\n<md:year>2002</md:year>\n<md:title>Late Quaternary
        vegetation and climate of Siberia and the Russian far east (Palynological
        and Radiocarbon Database)</md:title>\n<md:source>North East Science Center,
       [...]
