http_interactions:
- request:
    method: get
    uri: https://ws.pangaea.de/es/pangaea/panmd/_search?size=10&version=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"took":12,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":390620,"max_score":1.0,"hits":[{"_index":"pangaea_v1","_type":"panmd","_id":"901810","_score":1.0,"_source":{"internal-datestamp":"2020-01-17T15:14:14.000Z","parentURI":"https://doi.org/10.1594/PANGAEA.901247","minElevation":-0.4,"sf-authortitle":"Anhaus
        Philipp#Katlein Christian#Nicolaus Marcel$Downward spectral solar radiance
        as measured in different depths under sea ice (transmitted radiance) at station
        ALERT2018_11_1","meanPosition":{"lat":82.57589492106558,"lon":-62.47000684777824},"parentIdDataSet":901247,"techKeyword":["citable","author30475","author40340","author68162","basis40","campaign46368","event2906218","geocode1599","geocode1600","geocode1601","geocode1619","license21","method10268","method11520","param117400","param117401","param117572","param117573","param117574","param117575","param117576","param117577","param117578","param117579","param117580","param117581","param117582","param117583","param117584","param117585","param117586","param117587","param117588","param117589","param117590","param117591","p[...]
