http_interactions:
- request:
    method: get
    uri: https://www.pangaea.de/advanced/search.php?count=10&offset=0&q=florisphaera
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      last-modified: Fri, 15 Apr 2016 11:55:50 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      string: '{"results":[{"URI":"doi:10.1594\/PANGAEA.805696","score":55.7834,"html":"<li><div
        class=\"citation\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.805696\"
        target=\"_self\" class=\"dataset-link\"><strong>Grelaud, M; Marino, G; Ziveri,
        P et al. (2012):<\/strong> Distribution of Florisphaera profunda and Helicosphaera
        carteri in down core and surface sediments<\/a><\/div><table class=\"result\"
        summary=\"Dataset reference and size\" cellspacing=\"0\" cellpadding=\"0\"><tr><td
        class=\"title\">Supplement to:<\/td><td class=\"content\"><strong>Grelaud,
        M; Marino, G; Ziveri, P et al. (2012):<\/strong> Abrupt shoaling of the nutricline
        in response to massive freshwater flooding at the onset of the last interglacial
        sapropel event. <em>Paleoceanography<\/em><\/td><\/tr><tr><td class=\"title\">Size:<\/td><td
        class=\"content\">2 datasets<\/td><\/tr><\/table><div class=\"datasetid\"><a
        href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.805696\" target=\"_self\"
        class=\"dataset-link doi-link\">https:\/\/doi.org\/10.1594\/PANGAEA.805696<\/a>
        - <span title=\"The score is a measurement of relevancy (see TF-IDF algorithm).
        The value is not absolute and only suitable to compare hits from the same
        result set.\">Score: 55.78<\/span><\/div><\/li>"},{"URI":"doi:10.1594\/PANGAEA.895679","score":38.10345,"html":"<li><div
        class=\"citation\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.895679\"
        target=\"_self\" class=\"dataset-link\"><strong>Ausín, B; Flores, JA; Sierro,
        FJ et al. (2018):<\/strong> Nannofossil, alkenone and oxygen isotopic data
        from sediment core HER-GC-T1<\/a><\/div><table class=\"result\" summary=\"Dataset
        reference and size\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"title\">Supplement
        to:<\/td><td class=\"content\"><strong>Ausín, B; Flores, JA; Sierro, FJ et
        al. (2015):<\/strong> Atmospheric patterns driving Holocene productivity in
        the Alboran Sea (Western Mediterranean): A multiproxy approach. <em>The Holocene<\/em><\/td><\/tr><tr><td
        class=\"title\">Size:<\/td><td class=\"content\">3 datasets<\/td><\/tr><\/table><div
        class=\"datasetid\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.895679\"
        target=\"_self\" class=\"dataset-link d[...]
[...]
- request:
    method: get
    uri: https://www.pangaea.de/advanced/search.php?count=10&offset=20&q=florisphaera
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      last-modified: Fri, 15 Apr 2016 11:55:50 GMT
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      string: '{"results":[{"URI":"doi:10.1594\/PANGAEA.131439","score":19.585583,"html":"<li><div
        class=\"citation\"><a href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.131439\"
        target=\"_self\" class=\"dataset-link\"><strong>Boeckel, B (2003):<\/strong>
        Mean coccoliths lengths of sediment core GeoB3603-2<\/a><\/div><table class=\"result\"
        summary=\"Dataset reference and size\" cellspacing=\"0\" cellpadding=\"0\"><tr><td
        class=\"title\">Related to:<\/td><td class=\"content\"><strong>Boeckel, B
        (2003):<\/strong> Present and past coccolith assemblages in the South Atlantic:
        implications for species ecology, carbonate contribution and palaeoceanographic
        applicability. <em>Berichte aus dem Fachbereich Geowissenschaften der Universität
        Bremen<\/em><br\/><strong>Boeckel, B; Baumann, K-H; Henrich, R (2003):<\/strong>
        Late Quaternary coccolith assemblages from the south-eastern South Atlantic
        Ocean: implications for the palaeoceanographic evolution of the Benguela and
        Agulhas Current systems during the past 250 kyr.<\/td><\/tr><tr><td class=\"title\">Size:<\/td><td
        class=\"content\">98 data points<\/td><\/tr><\/table><div class=\"datasetid\"><a
        href=\"https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.131439\" target=\"_self\"
        class=\"dataset-link\">https:\/\/doi.pangaea.de\/10.1594\/PANGAEA.131439<\/a>
        - <span title=\"The score is a measurement of relevancy[...]
